$pop: 'Poppins', sans-serif; // прописуємо стилі шрифтів з гугл фонтс 
$rob: 'Roboto Condensed', sans-serif;
// Cloros
$bg-color1: #FFFFFF;
$bg-color2: #F2F3F8;
$bg-color3: #060512;


$txt-color1: #1E2339;
$txt-color2: #616196;

$f20r: 20px;
$f16r: 16px; // змінна для найчастіше вживаного тексту
$accent-grad2: linear-gradient(132.97deg, #2AF599 3.44%, #05A6F4 95.12%);

// Діректива рут, для визначення елементів. Створення змінної для визначення пропорцій
:root {
    --index: calc(1vw+1vh)
}


$wrap: calc (1920-2*64)px; // ширина всього блоку
$mc: 0 auto; // вирівнює посередині мерджін авто

@mixin flex ($jc,$ai) { // створили міксін з назвою flex $jc - змінна джастіфай контент, $ai - елайн айтем, це умоавні назви  
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap; // те що не влізло перейде на інщу строку
    justify-content: $jc; // тізначення які буе=демо писати в дужках будуть підставлятися для параметрів джастіфай контент і елайн айтем
    align-items: $ai;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body{
    @include flex(center, center);
    flex-direction: column;
    width: 100vw;
    margin: 0 auto;
    padding: 0;
    background: $bg-color2;
    font-family: $pop; // main font
    color: $txt-color1;
    overflow-x: hidden;// обрізає по осі х
    scroll-behavior: smooth;


}

body._lock{
    overflow: hidden;
}

p {
    font-size: $f20r;
    line-height: 32px;
    font-weight: 400;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 24px;
}
h5 {
    font-size: 20px;
    font-weight: 600;
    color: $bg-color3;
}

.conteiner {
    max-width: 1200px;
}


.main-btn, .store-btn {
    height: 56px;
    width: 220px;
    border-radius: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $bg-color1;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 14px;
    letter-spacing: .1em;      
    background: linear-gradient(94.47deg, #FF267E -27.22%, #5954DD 100%);
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.main-btn:hover, .store-btn:hover  {
    background: linear-gradient(94.41deg, #FF267E 2.76%, #5954DD 104.59%);
    box-shadow: 0px 6px 8px rgba(100, 82, 215, 0.25);
}


